*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #93b7cf;

    .container{
        background: #efeff7;
        width: 100%;
        max-width: 500px;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        padding: 3rem 0;
        border-radius: 10px;
        font-family: Arial, Helvetica, sans-serif;

        .timerDisplay{
            position: relative;
            left: 5%;
            width: 90%;
            background: linear-gradient(135deg, #baa6f2, #5749b1);
            padding: 2rem 0;
            color: #333;
            display: flex;
            align-items: center;
            justify-content: space-around;
            font-size: 2rem;
            border-radius: 5px;
            box-shadow: 0 0 15px rgba(0,0,0,0.25);
        }

        .buttons{
            width: 80%;
            margin: 2rem auto 0 auto;
            display: flex;
            justify-content: space-around;

            button{
                padding: .5rem 1.5rem;
                background: #bbb;
                color: #000;
                font-size: 1rem;
                border: none;
                border-radius: 8px;
                cursor: pointer;
            }
        }
    }
}

